h2 {
    text-align:center;
    color:white;
}

#infoSymbolThreeBig{
    color:#28a745;
    font-size:35px;
}
#getResultContainer{
background-color:#a7a7a7;
margin-bottom:20px;
text-align:center;
}
#carbonResult{
    font-size:30px;
    padding:20px;
}

.block {
    text-align: center;
    vertical-align: middle;
}
.round {
    background: red;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    display: table;
    margin: 20px auto;
}
.round p {
    vertical-align: middle;
    display: table-cell;
}

#emission_text{
    text-align:center;
    font-size:80px;
    font-weight:700;
    color:white;
   
}

#start_end_text{
    vertical-align: middle;
    font-size: 14px;
    font-weight:600;
    background-color:rgb(69, 144, 173);
    color:white;
    justify-content:space-between;  
}


#travelItemResult{
    line-height:1;
    display:inline-block;
    background-color:lightgrey;
    margin:10px;
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.75);
    
    
  
}

#travelIcon{
    border-radius: 50px;
    color: white;
    height: 50px;
    font-weight: bold;
    font-size:20px;
    width: 50px;
    display: inline-block;
    line-height:50px;
    margin:3px 0px 3px 0px;
}

#distanceResult{
    font-size:20px;
}

#travelDistanceButton{
    display:inline-block;

}

.badge{
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}


.fa-times-circle{
    float:right;
    font-size:30px;
    margin:5px 5px 5px 5px;
    cursor:pointer;
    color:red;
}

#co2Text{
    font-size:12px;
}

#compare_button{
    float:right;
    margin-top: 10px;
}