

#navBar{
    background-color:#0C101B;
    -webkit-box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 18px -1px rgba(0,0,0,0.75);
}


#topBarCounter{
    background:green;
    font-weight:600;
    padding:2px 3px 2px 3px;
    border-radius:25%;
}

