#chooseRideContainer{
    margin-top:20px;
    border-radius: 10px;
}

#chooseRideText{
    background-color: rgb(69, 144, 173);
    font-family: 'Exo 2', sans-serif;
    font-size:35px;
    -webkit-box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
    z-index:99;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#chooseTextBig{
    color:white;
}

#vehicleSymbolContainer{
    background-color:#36576b;
    text-align:center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;

  }

  #searchFormContainer{
      background-color:#36576b;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;

  }
  #smallBadge{
      margin-top:10px;
      font-size:20px;
  }


  #locationFrom{
      width:100%;
      margin-top:10px;
  }
  #locationTo{
    width:100%;
    margin-top:10px;
}

#chooseVehicleBox{
    display:inline-block;
    font-size:20px;
}

#confirmTravelButton{
    margin-top:10px;
}
#infoSymbolOneBig{
    color:#007bff;
}
#infoSymbolTwoBig{
    color:orange;
}
#planeButton{
    background-color:#ff9207;
    border-color:#ff9207;
}

.btn-circle.btn-xl{
    -webkit-box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
}
#chooseNumberOfPeopleBox{
    background-color:rgb(69, 144, 173);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 10px;
}

#form-group{
    padding:5px;
}

#inlineFormCustomSelect{
    text-align:center;
}
#formText{
    font-size:20px;
    margin-top:10px;
}
.btn.btn-primary.btn-circle.btn-xl.m-4:focus{

    -webkit-box-shadow: 0px 0px 23px 9px rgba(0,123,255,1);
    -moz-box-shadow: 0px 0px 23px 9px rgba(0,123,255,1);
    box-shadow: 0px 0px 23px 9px rgba(0,123,255,1);


}


#remindUser{
    text-align:center;
}

#numberOfCarTravelers{
    display:inline-block;
    margin:5px;
}




  @media (max-width: 500px) {
    #vehicleSymbolContainer{
      padding:0px !important;

    }
  }

  @media (min-width: 500px) {
    #chooseVehicleBox{
      margin:0px 20px 0px 20px;

    }
  }

@media (max-width: 500px) {
    #infoText{
        font-size:16px;
    }
}

.fa-sort-down{
    color:white;
    font-size:20px;
    
}

#vehicleNavbar{
justify-content:center;
}

#arrowDownButton{
    margin:5px;
    background-color:orange;
    width:30%;
}



@media (max-width: 500px) {
    #symbolText{
        font-size:60%;
    }
}

@media (min-width: 500px) {
     #vehicleCircle{
        width:50px;
        height:50px;
}

}

#numberOfPeopleText{
    color:white;
    padding-top:5px;
    font-weight:600;
    
}

#peopleIcon{
    font-size: 30px;
    margin-top: 20px;
}

#infoTextContainer{
    background-color: transparent;
    text-align:center;
    font-family: 'Exo 2', sans-serif;
    color: #4f4f4f;
    margin-top:52px;
    /*-webkit-box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75);
box-shadow: 0px 5px 16px -3px rgba(0,0,0,0.75); */
}

#infoSymbolOne{
    color:#007bff;
    font-size:25px;
}

#infoSymbolTwo{
    color:orange;
    font-size:25px;
}

#infoSymbolThree{
    color:#28a745;
    font-size:25px;
}


#infoText{
    font-size:25px;
}


