#carbonListItems{
    font-size:20px;
    margin:0px 30px 0px 30px;
}
.fa-arrow-right{
    font-size:20px;
    float: left;
    line-height: 4.3;
}
#destinationResult{
    font-size:40px;
    font-weight: 400;
   padding:10px;
   margin:60px;
   float: left;

}

#userListContainer{

    margin-top:20px;
}



.fa-trash-alt{
    font-size:50px;
    color:white;
    padding:10px;
    border-radius:50%;
    float: right;
}

.round {
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}

.round.hollow {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 50%;
    background-color: #FFF;    
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

.round.round-lg {
    height: 100px;
    width: 100px;
    line-height: 100px;
    -moz-border-radius: 20px;
    border-radius: 50%;
    font-size: 1em;
}

.draggable {
    margin: 10px;
}
 
.dragged {
    opacity: 0.7;
}
 
.placeholder {
  opacity: 0.5;
}

#full_badge{
    color: #FFF;
    width:100%;
}

#travelIcon{
    font-size: 25px;
    float: left;
    margin-left: 25px;

}

#item_block_container{
    background-color: #eaeaea;
}

#delete_button{
    height: 0;
    margin-right: 16px;
}
.customClass{
	height: 96%;
}
.map-two{
	border: 1px solid black;
	width: 47%;
	height: 500px;
	padding: 10px;
	margin: 5px;
}